{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger Auth - OpenAPI 3.0",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://local.auth.wraithlight.ai:4500",
      "description": "local"
    },
    {
      "url": "http://dev.auth.wraithlight.ai:5500",
      "description": "dev"
    },
    {
      "url": "http://test.auth.wraithlight.ai",
      "description": "test"
    },
    {
      "url": "http://staging.auth.wraithlight.ai",
      "description": "staging"
    },
    {
      "url": "http://auth.wraithlight.ai",
      "description": "prod"
    }
  ],
  "tags": [
    {
      "name": "internal/session"
    },
    {
      "name": "internal/user"
    },
    {
      "name": "internal/context"
    },
    {
      "name": "external/session"
    },
    {
      "name": "external/user"
    }
  ],
  "paths": {
    "/external/api/v3/session/{contextId}": {
      "get": {
        "tags": [
          "external/session"
        ],
        "summary": "Used to check if the given session exists.",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-API-TOKEN",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The session is alive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "sessionToken": {
                          "type": "string"
                        },
                        "sessionValidUntilUTC": {
                          "type": "string",
                          "format": "datetime",
                          "example": "2024-09-29T10:55:45.889Z"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "refreshTokenValidUntilUTC": {
                          "type": "string",
                          "format": "datetime",
                          "example": "2024-09-29T10:55:45.889Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "401": {
            "description": "The session is unalive or the given API TOKEN is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error401"
                }
              }
            }
          },
          "403": {
            "description": "The user does not have permission to that context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error403"
                }
              }
            }
          },
          "404": {
            "description": "The session was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error500"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "external/session"
        ],
        "summary": "Used to delete a session (logout).",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-API-TOKEN",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The session was deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "401": {
            "description": "The session is unalive or the given API TOKEN is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error401"
                }
              }
            }
          },
          "403": {
            "description": "The user does not have permission to that session.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error403"
                }
              }
            }
          },
          "404": {
            "description": "The session was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error500"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "external/session"
        ],
        "summary": "Used to create a session (login).",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-API-TOKEN",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The login was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {}
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "sessionToken": {
                          "type": "string",
                          "format": "uuid",
                          "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                        },
                        "sessionValidUntilUTC": {
                          "type": "string",
                          "format": "datetime",
                          "example": "2024-09-29T10:55:45.889Z"
                        },
                        "refreshToken": {
                          "type": "string",
                          "format": "uuid",
                          "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                        },
                        "refreshTokenValidUntilUTC": {
                          "type": "string",
                          "format": "datetime",
                          "example": "2024-09-29T10:55:45.889Z"
                        }
                      }
                    },
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "401": {
            "description": "The given API TOKEN is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error401"
                }
              }
            }
          },
          "403": {
            "description": "The user does not have permission to that context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error403"
                }
              }
            }
          },
          "404": {
            "description": "The context or the user was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "format": "email",
                    "example": "user@wraithlight.ai"
                  },
                  "password": {
                    "type": "string",
                    "format": "password",
                    "example": "F4HCXqdjbc"
                  },
                  "keepSignedIn": {
                    "type": "boolean",
                    "example": "true"
                  }
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "external/session"
        ],
        "summary": "Used to renew a session.",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-API-TOKEN",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The login was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {}
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "sessionToken": {
                          "type": "string",
                          "format": "uuid",
                          "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                        },
                        "sessionValidUntilUTC": {
                          "type": "string",
                          "format": "datetime",
                          "example": "2024-09-29T10:55:45.889Z"
                        },
                        "refreshToken": {
                          "type": "string",
                          "format": "uuid",
                          "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                        },
                        "refreshTokenValidUntilUTC": {
                          "type": "string",
                          "format": "datetime",
                          "example": "2024-09-29T10:55:45.889Z"
                        }
                      }
                    },
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "401": {
            "description": "The session or the given API TOKEN is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error401"
                }
              }
            }
          },
          "403": {
            "description": "The user does not have permission to that context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error403"
                }
              }
            }
          },
          "404": {
            "description": "The context or the session was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error404"
                }
              }
            }
          },
          "418": {
            "description": "The session is already expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error418"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error500"
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {}
              }
            }
          }
        }
      }
    },
    "/external/api/v3/user": {
      "get": {
        "tags": [
          "external/user"
        ],
        "summary": "Used to fetch the user information.",
        "parameters": [
          {
            "name": "X-WL-API-TOKEN",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The query was successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {}
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "userId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                        },
                        "username": {
                          "type": "string",
                          "format": "email",
                          "example": "user"
                        },
                        "identifier": {
                          "type": "string",
                          "format": "email",
                          "example": "user@wraithlight.ai"
                        },
                        "emailAddress": {
                          "type": "string",
                          "format": "email",
                          "example": "user@wraithlight.ai"
                        },
                        "createdAtUTC": {
                          "type": "string",
                          "format": "uuid",
                          "example":"2024-09-29T10:55:45.889Z"
                        },
                        "createdById": {
                          "type": "string",
                          "format": "uuid",
                          "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                        },
                        "lastUpdatedAtUTC": {
                          "type": "string",
                          "format": "uuid",
                          "example":"2024-09-29T10:55:45.889Z"
                        },
                        "lastUpdatedById": {
                          "type": "string",
                          "format": "uuid",
                          "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "ACTIVE",
                            "EMAIL_VERIFY",
                            "LOCKED_OUT_DUE_TOO_MANY_INVALID_LOGIN",
                            "INACTIVE",
                            "DELETED",
                            "FORGOT_PASSWORD"
                          ],
                          "example": "ACTIVE"
                        },
                        "languageId": {
                          "type": "string",
                          "format": "uuid",
                          "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                        },
                        "failedLoginAttempts": {
                          "type": "number",
                          "example": "0"
                        },
                        "isDeleted": {
                          "type": "boolean",
                          "format": "uuid",
                          "example": "false"
                        }
                      },
                      "required": [
                        "userId",
                        "username",
                        "identifier",
                        "emailAddress",
                        "createdAtUTC",
                        "createdById",
                        "status",
                        "languageId",
                        "failedLoginAttempts",
                        "isDeleted"
                      ]
                    },
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error400"
                }
              }
            }
          },
          "401": {
            "description": "The given API TOKEN is invalid.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error401"
                }
              }
            }
          },
          "404": {
            "description": "The user was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error404"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error500"
                }
              }
            }
          }
        }
      },
      "post": {
        "deprecated": true,
        "tags": [
          "external/user"
        ],
        "summary": "Used to create a new user (register).",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
        }
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "external/user"
        ],
        "summary": "Used to update an already existing user (profile edit).",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "external/user"
        ],
        "summary": "Used to delete an already existing user (profile delete).",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
        }
      }
    },
    "/internal/api/v1/session": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/session"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "post": {
        "deprecated": true,
        "tags": [
          "internal/session"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/session"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "internal/session"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/user": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "post": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/user/{userId}": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/user/{userId}/context/{contextId}": {
      "post": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/context": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "responses": {

        }
      },
      "post": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/context/{contextId}": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/context/{contextId}/user": {
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/context/{contextId}/user/{userId}": {
      "post": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    }
  },
  "components": {
    "schemas": {
      "error400": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "E_USER_NOT_FOUND"
              }
            }
          },
          "payload": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "error401": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "E_USER_NOT_FOUND"
              }
            }
          },
          "payload": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "error403": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "E_USER_NOT_FOUND"
              }
            }
          },
          "payload": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "error404": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "E_USER_NOT_FOUND"
              }
            }
          },
          "payload": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "error418": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "E_USER_NOT_FOUND"
              }
            }
          },
          "payload": {
            "type": "object",
            "properties": {}
          }
        }
      },
      "error500": {
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "format": "uuid",
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "example": "E_USER_NOT_FOUND"
              }
            }
          },
          "payload": {
            "type": "object",
            "properties": {}
          }
        }
      }
    }
  }
}
