{
  "openapi": "3.0.3",
  "info": {
    "title": "Swagger Auth - OpenAPI 3.0",
    "description": "",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://local.auth.wraithlight.ai:4500",
      "description": "local"
    },
    {
      "url": "http://dev.auth.wraithlight.ai:5500",
      "description": "dev"
    },
    {
      "url": "http://test.auth.wraithlight.ai",
      "description": "test"
    },
    {
      "url": "http://staging.auth.wraithlight.ai",
      "description": "staging"
    },
    {
      "url": "http://auth.wraithlight.ai",
      "description": "prod"
    }
  ],
  "tags": [
    {
      "name": "internal/session"
    },
    {
      "name": "internal/user"
    },
    {
      "name": "internal/context"
    },
    {
      "name": "external/session"
    },
    {
      "name": "external/user"
    }
  ],
  "paths": {
    "/external/api/v3/session/{contextId}": {
      "get": {
        "tags": [
          "external/session"
        ],
        "summary": "Used to check if the given session exists.",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-API-TOKEN",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The session is alive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string"
                        }
                      }
                    },
                    "payload": {
                      "type": "object",
                      "properties": {
                        "sessionToken": {
                          "type": "string"
                        },
                        "sessionValidUntilUTC": {
                          "type": "string",
                          "format": "datetime",
                          "example": "2024-09-29T10:55:45.889Z"
                        },
                        "refreshToken": {
                          "type": "string"
                        },
                        "refreshTokenValidUntilUTC": {
                          "type": "string",
                          "format": "datetime",
                          "example": "2024-09-29T10:55:45.889Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "E_USER_NOT_FOUND"
                        }
                      }
                    },
                    "payload": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "The session is unalive.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "E_USER_NOT_FOUND"
                        }
                      }
                    },
                    "payload": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "The user does not have permission to that context.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "E_USER_NOT_FOUND"
                        }
                      }
                    },
                    "payload": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "The session was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "E_USER_NOT_FOUND"
                        }
                      }
                    },
                    "payload": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "correlationId": {
                      "type": "string",
                      "format": "uuid",
                      "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3"
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "example": "E_USER_NOT_FOUND"
                        }
                      }
                    },
                    "payload": {
                      "type": "object",
                      "properties": {}
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "external/session"
        ],
        "summary": "Used to delete a session (logout).",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {}
      },
      "post": {
        "deprecated": true,
        "tags": [
          "external/session"
        ],
        "summary": "Used to create a session (login).",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {}
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "external/session"
        ],
        "summary": "Used to renew a session.",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {}
      }
    },
    "/external/api/v3/user": {
      "get": {
        "deprecated": true,
        "tags": [
          "external/user"
        ],
        "summary": "Used to fetch the user information.",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
        }
      },
      "post": {
        "deprecated": true,
        "tags": [
          "external/user"
        ],
        "summary": "Used to create a new user (register).",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
        }
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "external/user"
        ],
        "summary": "Used to update an already existing user (profile edit).",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "external/user"
        ],
        "summary": "Used to delete an already existing user (profile delete).",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
        }
      }
    },
    "/internal/api/v1/session": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/session"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "post": {
        "deprecated": true,
        "tags": [
          "internal/session"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/session"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "internal/session"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/user": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "post": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/user/{userId}": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/user/{userId}/context/{contextId}": {
      "post": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/user"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/context": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "responses": {

        }
      },
      "post": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/context/{contextId}": {
      "get": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "patch": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/context/{contextId}/user": {
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    },
    "/internal/api/v1/context/{contextId}/user/{userId}": {
      "post": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      },
      "delete": {
        "deprecated": true,
        "tags": [
          "internal/context"
        ],
        "summary": "",
        "parameters": [
          {
            "name": "contextId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-WL-SESSION",
            "in": "header",
            "required": true,
            "example": "bb3a7a80-44ec-4b74-9b7b-c8cd58f777b3",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {

        }
      }
    }
  }
}
