# MacOS
.DS_Store

# To avoid root-level yarn commands
/yarn.lock

# node env
node_modules/
dist/

# yarn
yarn-error.log

# jest
coverage/

# custom reporter
**/.test-reports/data.json
**/.test-reports/index.html

# angular
.angular

# npm
*/package-lock.json

# lerna
lerna-debug.log
