:root {
  --primary: #16F5B3;
  --primary-varian: #3CEBCA;
  --on-primary: #FFFEED;
  --on-primary-variant: #FFFFFF;
  --surface: #FFFEED;
  --surface-variant: #EBEABE;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;
}