:root {
    --header-height: 80px;
    --header: #FED884;
    --on-header: #000000;
    --on-header-active: yellow;
    --header-border: #000000;

    --body: #FCEFCC;
    --body-border: #000000;
    --body-content: #FFFFFF;
}
