@mixin wl-m-checkbox-base(
  $active-color
) {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  gap: 10px;

  &:hover {
    &>span {
      border-color: $active-color;
    }
  }

  & > input {
    display: none;

    &:checked {
      &+span {
        background: $active-color;
        border-color: $active-color;
      }
      &+span::after {
        transform: rotate(45deg) scale(1);
      }
    }
  }

  & > span {
    width: 22px;
    height: 22px;
    border-radius: 6px;
    border: 2px solid var(--wl-colors-on-surface-5);
    background: var(--wl-colors-on-surface-1);
    position: relative;
    transition: all 0.25s ease;

    &::after {
      content: "";
      position: absolute;
      left: 6px;
      top: 2px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg) scale(0);
      transition: transform 0.2s ease;
    }
  }
}
