div.header {
    width: 100%;
    height: var(--header-height);
    background-color: var(--header);
    border-bottom: 1px solid var(--header-border);

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--on-header);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;

    div.title,
    div.settings {
        padding: 0.5rem;
    }

    div.title {
        font-size: 1.2rem;
        text-shadow: 0.5rem 0.5rem 1rem;
    }

    div.settings {
        font-size: 0.8rem;
    }
}
