.body-container {
  width: 100%;
  height: 100%;
  background-color: var(--body);

  .body-content {
    margin: 0 4rem;
    height: 100%;
    padding: 0.5rem 0;
    box-sizing: border-box;

    .game-content {
      width: 100%;
      height: 100%;
      background-color: #6F2DA8;
    }
  }
}