@mixin wl-m-button-base(
  $background-color,
  $foreground-color
) {
  background-color: $background-color;
  color: $foreground-color;
  cursor: pointer;
  outline: none;
  padding: 6px 12px;
  border-radius: 8px;
  border: 0;

  &:hover {
    filter: brightness(85%);
    text-decoration: underline;
  }
}

@mixin wl-m-button-outline-base(
  $foreground-color
) {
  @include wl-m-button-base(
    var(--wl-colors-surface-1),
    $foreground-color
  );
  border: 1px solid $foreground-color;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
