name: "Applications GHA - Knip"
run-name: "APPS KNIP"
on: [push, workflow_dispatch]
jobs:
  knip:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18.20.8
    - name: Install packages
      run: yarn
      working-directory: ./applications

    - name: WL Postinstall
      run: yarn wl:postinstall
      working-directory: ./applications

    - name: Run knip
      run: yarn knip
      working-directory: ./applications
