name: "Applications GHA - Readme Check"
run-name: "APPS README CHECK"
on: [push, workflow_dispatch]
jobs:
  readme-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Node
      uses: actions/setup-node@v3
      with:
        node-version: 18.20.8
        cache: "yarn"
        cache-dependency-path: applications/yarn.lock
    - name: Install packages
      run: yarn
      working-directory: ./applications

    - name: WL Postinstall
      run: yarn wl:postinstall
      working-directory: ./applications

    - name: Run readme check
      run: yarn readme-check --silent
      working-directory: ./applications
